body{
	font: 12px verdana, sans-serif; 
	margin: 0px;
}

.itembutton{
	position:relative;
	width:240px;
	height:60px;
	margin:5px;
	border-radius:5px;
	cursor:pointer;
	text-align:left;
	user-select: none;
}

.generatorbutton{
	position:relative;
	width:240px;
	height:60px;
	margin:5px;
	border-radius:5px;
	cursor:pointer;
	text-align:left;
	user-select: none;
}

.inactive{
	color: grey;
	border: 2px solid grey;
}

.active{
	color: black;
	border: 2px solid black;
}

.visible{
	display:block;
}
    
.invisible{
	display:none;
}

.itemnumber{
	position:absolute;
	top:0px;
	left:5px;
	text-align:left;
	font-size:30px;
}

.itemtitle{
	position:absolute;
	font-size:17px;
	top:3px;
	left:100px;
}

.currentlyearning{
	position:absolute;
	font-size:9px;
	top:42px;
	left:6px;
}

.itemproduction{
	position:absolute;
	font-size:9px;
	top:42px;
	left:88px;
}

.generatornumber{
	position:absolute;
	top:0px;
	left:5px;
	text-align:left;
	font-size:30px;
}

.generatortitle{
	position:absolute;
	font-size:15px;
	top:0px;
	left:80px;
}

.generatorcost{
	position:absolute;
	font-size:8px;
	top:37px;
	left:70px;
}

.generatorproduction{
	position:absolute;
	font-size:8px;
	top:47px;
	left:55px;
}

.eachcosts{
	position:absolute;
	font-size:8px;
	top:37px;
	left:6px;
}

.generating{
	position:absolute;
	font-size:8px;
	top:47px;
	left:6px;
}