body{
	font: 12px verdana, sans-serif; 
	margin: 0px;
}

.itembutton{
	position:relative;
	width:240px;
	height:60px;
	margin:5px;
	border-radius:5px;
	border: 2px solid black;
	cursor:pointer;
	color: black;
	text-align:left;
	user-select: none;
}

.itemicon{
	width:60px;
	height:60px;
}

.itemtitle{
	position:absolute;
	font-size:17px;
	top:0px;
	left:58px;
	right:0px;
	text-align:center;
}

.itemnumber{
	position:absolute;
	top:16px;
	left:50px;
	right:0px;
	text-align:center;
	font-size:30px;
}

.itemproduction{
	position:absolute;
	font-size:9px;
	top:48px;
	left:50px;
	right:0px;
	text-align:center;
}

.itemSelected{
	background-color: #DDDDFF;
}

.generatorbutton{
	position:relative;
	width:240px;
	height:50px;
	margin:5px;
	border-radius:5px;
	text-align:left;
	user-select:none;
	border:2px solid black;
	background-color:#f7f7f7;
}

.generatorhoverzone{
	position:absolute;
	width:209px;
	left:0px;
	top:0px;
	bottom:0px;
	z-index:12;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.generatorbuyone{
	position:absolute;
	width:30px;
	height:16px;
	top:0px;
	right:0px;
	text-align:center;
	color:grey;
	line-height:16px;
	z-index:4;
	border-left-style:solid;
	border-bottom-style:solid;
	border-left-width:1px;
	border-bottom-width:1px;
	border-left-color:grey;
	border-bottom-color:grey;
}

.generatorbuymid{
	position:absolute;
	visibility:visible;
	width:30px;
	height:16px;
	top:17px;
	right:0px;
	color:grey;
	line-height:16px;
	z-index:3;
	text-align:center;
	border-left-style:solid;
	border-bottom-style:solid;
	border-left-width:1px;
	border-bottom-width:1px;
	border-left-color:grey;
	border-bottom-color:grey;
}

.generatorbuymax{
	position:absolute;
	visibility:visible;
	width:30px;
	height:16px;
	top:33px;
	right:0px;
	color:grey;
	line-height:16px;
	z-index:2;
	text-align:center;
	border-left-style:solid;
	border-top-style:solid;
	border-left-width:1px;
	border-top-width:1px;
	border-left-color:grey;
	border-top-color:grey;
}

.generatorprogress{
	position:absolute;
	left:0px;
	bottom:0px;
	height:3px;
	width:0px;
	border-bottom-left-radius:3px;
	background-color:#cccccc;
}

.generatorbuyprogress{
	position:absolute;
	right:0px;
	height:16px;
	width:0px;
	border-top-right-radius:3px;
	background-color:#dddddd;
}

.affordable{
	color:black;
	border-color:black;
	cursor:pointer;
}

.popupcontainer{
	visibility:hidden;
	position:fixed;
	z-index:3;
	left:495px;
	top:100px;
	width:232px;
	height:224px;
	margin:5px;
	text-align:left;
	user-select: none;
}

.left_arrow_black {
	position:absolute;
	left:-8px;
	z-index:2;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 15px 10px 0;
	border-color: transparent #000000 transparent transparent;
}

.left_arrow_background {
	position:absolute;
	left:-5px;
	z-index:3;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 15px 10px 0;
	border-color: transparent #f4f4f4 transparent transparent;
}

.popup{
	position:relative;
	left:5px;
	height:220px;
	border-radius:5px;
	border:2px solid black;
	background-color:#f4f4f4;
	text-align:left;
}

.popupinfoblurb{
	position:absolute;
	top:5px;
	left:5px;
	right:5px;
	font-size:10px;
}

.generatorbuying{
	position:absolute;
	top:69px;
	z-index:4;
	height:48px;
	width:229px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	font-size:10px;
}

.generatorbuyinfo{
	position:absolute;
	top:3px;
	left:5px;
	right:5px;
}

.generatorcosts{
	position:absolute;
	top:30px;
	left:5px;
	right:5px;
}

.generatorrates{
	position:absolute;
	top:122px;
	width:100%;
	height:50px;
	font-size:10px;
	border-bottom: 2px solid black;
}

.generatorproduction{
	position:absolute;
	left:5px;
	right:5px;
}

.generatorconsumption{
	position:absolute;
	top:25px;
	left:5px;
	right:5px;
}

.blacktext{
	font-weight:bold;
}

.redtext{
	color:red;
	font-weight:bold;
}

.slidercontainer{
	position:absolute;
	display:none;
	top:182px;
	left:20px;
	right:20px;
	font-size:10px;
}

.slider {
  -webkit-appearance: none;
  position:absolute;
  width: 100px;
  height: 10px;
  left:80px;
  top:0px;
  step: 10;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 16px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 35px;
  height: 16px;
  background: #4CAF50;
  cursor: pointer;
}

.sliderlabel{
	position:absolute;
	top:1px;
	left:156px;
	z-index:3;
	text-align:center;
	font-size:10px;
	pointer-events:none;
}

.speedslidercontainer{
	position:absolute;
	display:block;
	top:90px;
	left:500px;
	right:20px;
	font-size:10px;
}

.speedslider {
  -webkit-appearance: none;
  position:absolute;
  width: 200px;
  height: 10px;
  left:120px;
  top:0px;
  step: 10;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.speedslider:hover {
  opacity: 1;
}

.speedslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 16px;
  background: #4CAF50;
  cursor: pointer;
}

.speedslider::-moz-range-thumb {
  width: 35px;
  height: 16px;
  background: #4CAF50;
  cursor: pointer;
}

.speedsliderlabel{
	position:absolute;
	top:1px;
	left:132px;
	z-index:2;
	text-align:center;
	font-size:10px;
	pointer-events:none;
}

.currentactive{
	position:absolute;
	top:20px;
	left:0px;
	right:0px;
	text-align:center;
	font-size:10px;
}

.visible{
	display:block;
}
    
.invisible{
	display:none;
}

.generatornumber{
	position:absolute;
	top:0px;
	left:5px;
	text-align:left;
	font-size:30px;
}

.generatortitle{
	position:absolute;
	font-size:15px;
	top:0px;
	left:80px;
	right:30px;
}

.generatorcost{
	position:absolute;
	font-size:8px;
	top:37px;
	left:6px;
}

.menuTitle{
	text-align:center;
	font-size:30px;
	user-select:none;
}

.optionsButton{
	width:200px;
	height:25px;
	text-align:center;
	line-height:25px;
	border:black 1px solid;
	cursor:pointer;
	margin:10px;
	user-select:none;
}

.hovered{
	border:black 3px solid;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.upgradebutton{
	position:relative;
	width:180px;
	left:30px;
	height:70px;
	margin:5px;
	border-radius:5px;
	text-align:center;
	user-select:none;
	color:grey;
	border:2px solid grey;
}

.upgradetitle{
	position:absolute;
	font-size:15px;
	top:0px;
	left:0px;
	right:0px;
}

.upgradetext{
	position:absolute;
	font-size:10px;
	line-height:11px;
	top:22px;
	left:0px;
	right:0px;
}

.upgradecost{
	position:absolute;
	font-size:8px;
	top:60px;
	left:0px;
	right:0px;
}

.clickableupgrade{
	border:2px solid black;
	color:black;
	cursor:pointer;
}